<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright (C) 2010 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.cts.verifier"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="5"></uses-sdk>

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Needed by the Audio Quality Verifier to store the sound samples that will be mailed. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name" android:icon="@drawable/icon" android:debuggable="true">

        <activity android:name=".CtsVerifierActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TestListActivity" android:label="@string/test_list_title" />

        <provider android:name=".TestResultsProvider" 
                android:authorities="com.android.cts.verifier.testresultsprovider" />
                
        <activity android:name=".bluetooth.BluetoothTestActivity"
                android:label="@string/bluetooth_test"
                android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.cts.intent.category.MANUAL_TEST" />
            </intent-filter>
            <meta-data android:name="test_category" android:value="@string/test_category_networking" />
        </activity>
        
        <activity android:name=".bluetooth.BluetoothToggleActivity"
                android:label="@string/bt_toggle_bluetooth"
                android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".bluetooth.DevicePickerActivity"
                android:label="@string/bt_device_picker"
                android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".bluetooth.MessageTestActivity"
                android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".suid.SuidFilesActivity" 
                android:label="@string/suid_files"
                android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.cts.intent.category.MANUAL_TEST" />
            </intent-filter>
            <meta-data android:name="test_category" android:value="@string/test_category_security" />
        </activity>

        <activity android:name=".features.FeatureSummaryActivity" android:label="@string/feature_summary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.cts.intent.category.MANUAL_TEST" />
            </intent-filter>
            <meta-data android:name="test_category" android:value="@string/test_category_features" />
        </activity>

        <activity android:name=".sensors.AccelerometerTestActivity" android:label="@string/snsr_accel_test"
                android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.cts.intent.category.MANUAL_TEST" />
            </intent-filter>
            <meta-data android:name="test_category" android:value="@string/test_category_sensors" />
        </activity>

        <activity android:name=".audioquality.AudioQualityVerifierActivity"
                android:label="@string/aq_verifier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.cts.intent.category.MANUAL_TEST" />
            </intent-filter>
            <meta-data android:name="test_category" android:value="@string/test_category_audio" />
        </activity>

        <activity android:name=".audioquality.CalibrateVolumeActivity"
                  android:label="@string/aq_calibrate_volume_name" />

        <activity android:name=".audioquality.ViewResultsActivity"
                  android:label="@string/aq_view_results_name" />

        <service android:name=".audioquality.ExperimentService" />

   </application>

</manifest> 
